@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/* General Colors */

body {
    background-color: #1a1a1a;
}

.divider {
    background-color: #BA0C0C;
    width: 75px;
    height: 5px;
}

/* Image styles */

#hero-image {
    background-color: #0E174F;
    background-image: url("../img/hero-img.jpg");
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

/* .landing-right img {
    width: 100%;
    position: absolute;
    top: 30vh;
    right: 0;
} */

.galleryCarousel img {
    height: 100vh;
}

#screens {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

img {
    width: 100%;
}

/* Navbar Style */

nav {
    background-color: #1a1a1a;
    border: solid;
    border-width: 1px;
    border-color:#ffc107;
    border-radius: 20px;
}

nav .navbar-nav li a {
    color: #ffc107 !important;
}

.navbar-brand {
    width: 50px; 
}

#rankImg {
    width: 169px;
    height: 189px;
}

.intro {
    height: 80vh;
    padding-top: 20vh;
    color:#f7e43c;
}

/* Column styles */


/* Media queries */

/* For medium screens up to 1000px  */

@media screen and (max-width: 1000px) {
    #screens {
        column-count: 3;
    }
}

/* For small screens up to 800px */
@media screen  and (max-width: 800px) {
    #screens {
        column-count: 2;
    }
}
