@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');



#hero-image {
    background-color: #0033ff;
    background-image: url("../img/Hero-img.jpg");
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}